body {
  display: flex;
  min-height: 100vh;
}

body > .logo-container {
  flex: 1 1 auto;
  background-image: url("../assets/imgs/leafs-top.jpg");
  background-size: cover;
}

body > .form-container {
  flex: 2 1 auto;
}