@font-face {
  font-family: "north-odin";
  src: url(../assets/fonts/Norse-Bold.otf) format(opentype);
}

:root {
  --logo-bg-color: rgb(10, 10, 10, 0.7);
  --logo-text-color: #FFF;
  --logo-font: "north-odin", Arial, Helvetica, sans-serif;
  --form-bg-darker: #f9f9f9;
  --hover-text-color: lime;
  --btn-bg-color: #596D48;
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body > .logo-container {
  flex: 1 1 30%;
  background-image: url("../assets/imgs/leafs-top.jpg");
  background-size: cover;
  position: relative;
  color: var(--logo-text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

body > .form-container {
  flex: 2 1 70%;
}

.odin-logo-container {
  font-size: 6rem;
  position: absolute;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--logo-bg-color);
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--logo-font);
}

img[src="assets/imgs/odin-lined.png"] {
  width: clamp(100px, 20%, 200px);
  height: auto;
}

.author-leaf {
  padding: 0.7rem;
}

a:link {
  color: var(--logo-text-color);
}

a:hover {
  color: var(--hover-text-color);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container .form-paragraph-container,
.form-container .form-inputs-container,
.form-container .form-accountBtn-container {
  flex: 1;
}

.form-paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--form-bg-darker);
  z-index: 2;
}

.form-paragraph-container p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.2rem;
}

.form-paragraph-container p:first-child {
  padding-right: 20%;
}

.form-paragraph-container p:last-child {
  padding: 0.5rem 1.2rem;
}

.form-inputs-container {
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.9);
  z-index: 1;
}

.form-accountBtn-container {
  background-color: var(--form-bg-darker);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 2rem 0 0 2rem;
}

.btn-create-acc {
  background-color: var(--btn-bg-color);
  color: var(--logo-text-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border: 2px solid transparent;
  border-radius: 5px;
}

.btn-create-acc:hover {
  cursor: pointer;
  color: var(--btn-bg-color);
  background-color: var(--logo-text-color);
  border: 2px solid black;
}

span.log-in {
  color: var(--btn-bg-color);
  font-weight: bold;
}

span.log-in:hover {
  cursor: pointer;
  text-decoration: underline;
}