@font-face {
  font-family: "north-odin";
  src: url(../assets/fonts/Norse-Bold.otf) format(opentype);
}

body {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body > .logo-container {
  flex: 1 1 30%;
  background-image: url("../assets/imgs/leafs-top.jpg");
  background-size: cover;
  position: relative;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

body > .form-container {
  flex: 2 1 70%;
}

.odin-logo-container {
  font-size: 6rem;
  position: absolute;
  padding: 1rem 0;
  width: 100%;
  background-color: rgb(10, 10, 10, 0.7);
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "north-odin", Arial, Helvetica, sans-serif;
}

img[src="assets/imgs/odin-lined.png"] {
  width: clamp(100px, 20%, 200px);
  height: auto;
}

.author-leaf {
  padding: 0.7rem;
}

a:link {
  color: #FFF;
}